body {
	margin: auto;
	transition: 0.5s;
}

.content {
	padding: 1.5rem 0.5em;
}

li {
	padding: 0.5em;
}

.code, .inlineCode {
	font-family: "Hack";
}

.code {
	display: block;
	line-height: 1.5em;
	padding: 0 0.5em;
	margin: 0.5em 0;
	border: 1px solid #e0e0e0;
	background: white;
}

.inlineCode {
	display: inline-block;
	font-weight: bold;
}

.panel {
	max-width: 1000px;
	margin: auto;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.subheader {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
}

.menuActive {
	max-width: calc(1000px - 225px);
}

.line {
	display: block;
	margin: 0 5%;
	border-bottom: 1px solid #d8d8d8;
}
